.cls-1 {
    fill: #d6b49a;
  }
  .cls-2 {
    fill: #020202;
  }
  .cls-3 {
    fill: #818181;
  }
  .cls-4 {
    fill: #dcdbda;
  }
  .cls-5 {
    fill: #4ea7f1;
  }
  .cls-6 {
    fill: #f8f3ed;
  }
  .cls-7 {
    fill: #333;
  }
  .cls-8 {
    fill: none;
  }
  .cls-9 {
    fill: #f8f59c;
  }
  .cls-10 {
    fill: #f3d2c9;
  }
  .cls-11 {
    fill: #f3d2c9;
  }
  .cls-12 {
    fill: #8bb174;
  }
  .cls-13 {
    fill: #da4e22;
  }
  